<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Sistema Aeroportos</h5>
          <p>
            Este sistema foi desenvolvido para gerenciamento de aeroportos, permitindo o cadastro, consulta e listagem de ativos e inativos.
          </p>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Sobre</a></li>
            <li><a href="#" class="text-white">Cadastrar</a></li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contato</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Email:</a></li>
            <li><a href="#" class="text-white">Telefone</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3 bg-secondary">
      © 2024 Sistema Aeroportos desenvolvido por Gustavo Gregório
    </div>
  </footer>
  