<div class="alert alert-primary" role="alert">
    Estudar sempre é muito importnate para noso crescimento e aprimoramento de uma evolução profissional e pessoal
  </div>
  <div class="alert alert-secondary" role="alert">
    Crescer no aprendizado e smepre contra com bastante etudo para evoluir profissionalmente, sempre nos dedicando cada vez mais
  </div>
  <div class="alert alert-success" role="alert">
    Evolução profissional smepre muito importnate para o nodsos aprendizado, e nosso crescimento, aprimorar é o caminho certo
  </div>
  <div class="alert alert-danger" role="alert">
    Nosos cresciomento pessoal e ´profissional smepre é importnate e faz a gente crescer melhor, o estudo smepre nos faz bem
  </div>
  <div class="alert alert-warning" role="alert">
    Crescimentos sempre é bem vindo na  carreura da area de informatica, para nossa evolução profissional na nossa evolução
  </div>